body{
    background-color: whitesmoke;
}
.producto_carrito {
    height: 7rem;
    width: 70%;
    background: white;
    display: flex;
    margin: 10px;

}
.imagen_carrito {
    width: 10rem;
    height: 100%;
    background: blueviolet;
}
img {
    width: 100%;
    height: 100%;
}
.contenedor {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 1rem;
}
.cantidad {
    width: 2rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}